body {
    margin: 0;
    padding: 0;
}

#colour {
    font-size: 25px;
}

.fa-columns {
    color: #fff;
    text-shadow: -1px -1px 0 #999,
            1px -1px 0 #999,
           -1px 1px 0 #999,
            1px 1px 0 #999;
}

.text-over-img { 
    z-index:-11;
    margin-top: -320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
} 

#id {
    opacity: 0.1;
}

#img.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */ 

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Image done */

  #colorPicker {
      border-color: whitesmoke;
  }

  .item{
    background: white;    
    text-align: center;
    height: 300px !important;
}

.carousel{
    margin-top: 20px;
}

.bs-example{
	margin: 20px;
}

.carousel.carousel-fade .item {
  opacity:0;
  filter: alpha(opacity=0); /* ie fix */
}

.carousel.carousel-fade .active.item {
    opacity:1;
    filter: alpha(opacity=100); /* ie fix */
}

.fa-columns {
  border-bottom: 1px solid #453886;
  color: #424c4d;
  padding-bottom: .25em;
  text-decoration: none;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}


.fa-columns:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23453886' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: none;
}

.fa-align-center {
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
color: var(--mainColor);
text-decoration: none;
}

.fa-align-center:hover {
/*background-image:
   linear-gradient(
     to bottom, var(--mainColor) 0%,
     var(--mainColor) 100%
   );*/
text-shadow: 0px 0px 0 rgb(208,138,28),1px 1px 0 rgb(165,123,26),2px 2px 0 rgb(242,185,100),3px 3px 0 rgb(227,167,187),4px 4px 0 rgb(182,129,63),5px 5px 0 rgb(161,117,50),6px 6px 0 rgb(144,103,39),7px 7px 0 rgb(130,91,31),8px 8px 0 
rgb(120,83,25),9px 9px 0 rgb(108,73,20),10px 10px 0 rgb(93,63,13),11px 11px 0 rgb(60,54,12),12px 12px 0
rgb(63,41,8),13px 13px 0
}

.btn-primary::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

.card-img-top {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.d-block {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}


