body {
    margin: 0;
    padding: 0;
}

#colour {
    font-size: 25px;
}

.fa-columns {
    color: #fff;
    text-shadow: -1px -1px 0 #999,
            1px -1px 0 #999,
           -1px 1px 0 #999,
            1px 1px 0 #999;
}

.text-over-img { 
    z-index:-11;
    margin-top: -320px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
} 

#id {
    opacity: 0.1;
}

#img.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Image */ 

.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  .top-left {
    position: absolute;
    top: 8px;
    left: 16px;
  }
  
  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }
  
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Image done */

  #colorPicker {
      border-color: whitesmoke;
  }